Sarthak_Gandhi_Software_Developer.synctex.aux
Sarthak_Gandhi_Software_Developer.synctex.fdb_latexmk
Sarthak_Gandhi_Software_Developer.synctex.fls
Sarthak_Gandhi_Software_Developer.synctex.log
Sarthak_Gandhi_Software_Developer.synctex.out
Sarthak_Gandhi_Software_Developer.synctex.pdf
Sarthak_Gandhi_Software_Developer.synctex.synctex.gz