Sarthak_Gandhi_Software_Developer.aux
Sarthak_Gandhi_Software_Developer.fdb_latexmk
Sarthak_Gandhi_Software_Developer.fls
Sarthak_Gandhi_Software_Developer.log*
Sarthak_Gandhi_Software_Developer.out
Sarthak_Gandhi_Software_Developer.pdf
Sarthak_Gandhi_Software_Developer.synctex.gz